html {
    background-color: black;
}

.button-list-wraper a, .capture-button{
    text-decoration: none;
    background-color: whitesmoke;
    color: red;
    border: none;
}

.button-list-wraper a:hover, .capture-button:hover{
    background-color: red;
    color: black;
}

input[type=number].no-spinner::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}
