html {
    background-color: black;
}

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000 url("/Assets/Loading/Loading.gif") center no-repeat;
    z-index: 1;
}

.button-list-wraper a,
.capture-button {
    text-decoration: none;
    background-color: whitesmoke;
    color: red;
    border: none;
}

.button-list-wraper a:hover,
.capture-button:hover {
    background-color: red;
    color: black;
}

input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}